.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Banner {
  margin: 0;
  width: 100%;
  height: 64px;
  display: flex;
  position: relative;
}

.Logo1,.Logo {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.Buttons--action {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  padding: 0px;
}
.Buttons--action:focus {
  outline: none;
  border-bottom: 2px black solid;
}

.Buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 25%;
  
}
.Logo, .Logo1 {
  flex: 7%;
  height: 100%;
  z-index: 100;
}

.Logo {
  display: none;
}

.Logo1__position {
  margin-top: 20px;
  margin-left: 25px;
}

.Blank {
  flex: 66%;
}

.Buttons--action:hover {
  border-bottom: 2px black solid;
  padding: 0px;
}

.Logo:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .Buttons {
    top: 70px;
    left: 0;
    z-index: 3;
    padding-left: 25px;
    height: 100px;
    width: 100%;
    display: none;
    position: absolute;
  }
  .Show {
    display: block;
  }
  .Logo {
    display: block;
  }
  .Logo1 {
    display: none;
  }
  .Buttons--action {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .Buttons--action:hover,.Buttons--action:focus,.Logo:focus {
    border: none;
  }
  
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
