.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Banner {
  margin: 0;
  width: 100%;
  height: 64px;
  display: flex;
}

.Buttons--action {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  padding: 0px;
}
.Buttons--action:focus {
  outline: none;
  border-bottom: 2px black solid;
}

.Buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 25%;;
}
.Logo {
  flex: 3%;
  height: 100%;
}

.Blank {
  flex: 70%;
}

.Buttons--action:hover {
  border-bottom: 2px black solid;
  padding: 0px;
}

.Logo:hover {
  cursor: pointer;
}


@media (max-width: 768px) {
  .Buttons {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    padding-top: 70px;
    padding-left: 25px;
    height: 100px;
    width: 100%;
    display: none;

  }
  .Buttons--action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: lighter;
    width: 100%;
  }
  .Buttons--action:hover,.Buttons--action:focus {
    border: none;
  }  
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
